aptbooking:
  version: 1.0

server:
  port: 9500

spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  flyway:
    locations: 'classpath:migrations'

  datasource:
    url:
    driver-class-name: org.postgresql.Driver
    username:
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: "validate" # create / update

springdoc:
  swagger-ui:
    path: "/swagger-ui.html"

logging:
    level:
        root: INFO
        org.hibernate: DEBUG
        ru.yapridu.aptbooking: INFO